*.a
*.d
*.o
*.*~
*~
*.log
*.status
*.bin
*.elf
*.img
*.cache
*.0
*.ls
*.tmp
*.exe
/build-aux/
/Makefile
/configure
/hypapps/trustvisor/configure
/hypapps/trustvisor/trustvisor.pc
hypervisor-x86-i386.bin.gz
hypervisor-x86-amd64.bin.gz
typescript
